.header {
  background: linear-gradient(90deg, hsl(284, 58%, 32%) 1.2%, hsl(284, 69%, 49%) 100%);
  color: hsl(0, 0%, 100%);
  display: flex;
  min-height: 65px;
  min-width: 550px;
  padding: 0 20px;
  place-items: center;
}

.header > img {
  margin-right: 7px;
}

.header__title {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -2px;
  margin-right: auto;
}

.header__project {
  font-size: 12px;
}
