*, *::after, *::before {
  box-sizing: border-box;
}

body {
  background-color: hsl(200, 100%, 95%);
  display: flex;
  font-family: "Karla", sans-serif;
  justify-content: center;
  margin: 0;
  padding: 20px;
}

#root {
  border-radius: 5px;
  max-width: 550px;
  overflow: hidden;
}
